.register-box {
  width: 460px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}

.register-input-row {
  display: flex;
  gap: 12px;
}

.register-input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
}
